body .container {
    background-color: #eeeeee;
    position: relative;
    max-width: 100%;
    width: 100%;
}

.started {
    margin: 0 auto 0 auto;
    padding: 0;
    top: -80px;

    padding: 6px 0;
    position: relative;
}
.cv-info {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    
}
.cv-info .cv-image{
    margin: 0 auto 15px auto;
    width: 148px;
    height: 148px;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 148px;
    -moz-border-radius: 148px;
    -webkit-border-radius: 148px;
    -khtml-border-radius: 148px;
    
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.cv-info .cv-image img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cv-info .cv-name {
    font-size: 42px;
    font-weight: 100;
    line-height: 44px;
    color:#363636;
    font-family: 'Roboto', Helvetica;
}
.cv-info .cv-desc {
    margin: 15px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #363636;
    font-family: 'Roboto', helvetica;
}
.cv-info .cv-social {
    margin: 20px 0;
}
.cv-info .cv-social a {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 40px;
    height: 40px;
    line-height: 46px;
    text-align: center;
    background: #304fff;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    border-radius: 52px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    -khtml-border-radius: 52px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.cv-info .cv-social a .circle {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
}
.cv-info .cv-social a .circle .icon {
    font-size: 21px;
    color: white;
}